.edgagement_tip{
    display: inline-block;
    vertical-align: middle;
    padding: 2px 3px;
    border: 1px solid #ddd;
    background: #eee;
}

.edgagement_game_infobox{
    font-size: 0.95em;
    line-height: 1.2;
}

.edGame{
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    border: 1px solid #ddd;
    background: #eee;
    text-align: center;
    -webkit-user-modify: read-only;
}
.edGame div{
    display: none;
}

.edGame::after{
    content: attr(title);
    color: darkgray;
    display: block;
    padding: 74% 0;
}

.edGame2{
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    border: 1px solid #ddd;
    text-align: center;
}

.edGame2 .holder{
    width: 100%;
    padding: 74.5% 0;

    box-sizing: border-box;
    position: relative;
}

.edGame2 iframe{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    border: 0;
    overflow: hidden;
}

@media only screen and (max-height: 685px) and (min-width: 720px) {
    .edGame, .edGame2{
        max-width: 56vh;
    }
}